<!-- edit-wishlist.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Wishlist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Edit Wishlist</h2>
    <form th:action="@{/homepage/wishlist/update}" method="post">
        <!-- Hidden field to pass the wishlist ID -->
        <input type="hidden" name="wishlistId" th:value="${wishlist.getWishlistId()}"/>

        <div class="mb-3">
            <label for="wishlistName" class="form-label">Wishlist Name</label>
            <input type="text" class="form-control" id="wishlistName" name="wishlistName" th:value="${wishlist.getWishlistName()}" required>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>

    </form>
</div>
</body>
</html>
